/* === Variables === */
:root {
	--button-green: #bbf330;
	--dark-green: #7eb101;
	--yellow-main: #ffe550;
	--default: #2c2c2c;
	--white: #fefefe;
}

/* === Rules tags === */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	background-color: var(--white);
	color: var(--default);
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

button {
	border: none;
	color: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

html {
	scroll-behavior: smooth;
}

/* === Rules classes === */
/* .container {
	width: 320px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
} */

/* @media screen and (min-width: 768px) {
	.container {
		width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}
} */

.section {
	margin: 50px 0;
}

.section-title {
	font-size: 42px;
	line-height: 1.1667; /* 49/42 */
	margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
	.container {
		width: 1440px;
		margin: 0 auto;
		padding: 0 16px;
	}
}

/* === Header === */
.header {
	padding: 10px 0;
	box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
	background: var(--white);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline-block;
	line-height: 0;
}

.menu {
	margin-left: auto;
}

.menu__list {
	display: flex;
	gap: 28px;
	margin-right: 30px;
}

.menu__list-link {
	font-weight: 400;
	font-size: 14px;
	color: inherit;
}

.menu__list-link:hover {
	/* font-weight: 700; */
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--button-green);
}

.header__btn {
	width: 98px;
	height: 32px;
	font-weight: 500;
	font-size: 13px;
	padding: 6px 18px;
	border-radius: 30px;
	background: var(--button-green);
	color: var(--default);
}

.header__btn:hover {
	transition: all 0.2s ease-in-out;
	background: var(--yellow-main);
}

/* === Section Hero 1408x580px === */
.hero {
	padding-top: 14px;
}

.hero__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__content {
	max-width: 511px;
}

.hero__title {
	font-size: 48px;
	line-height: 1.2085;
	margin-bottom: 28px;
}

.hero__text {
	line-height: 1.4375;
	margin-bottom: 40px;
}

.hero__btn {
	width: 98px;
	height: 32px;
	font-weight: 500;
	font-size: 13px;
	line-height: 0;
	padding: 6px 18px;
	border-radius: 30px;
	background: var(--button-green);
	color: var(--default);
}

.hero__btn:hover {
	transition: all 0.2s ease-in-out;
	background: var(--yellow-main);
}

/* .section-hero {
	display: flex;
  justify-content: space-between;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 1280px;
	height: 608px;
	flex-shrink: 0;
}

.hero-container {
	display: flex;
}

.section-hero__content-wrapper {
	display: flex;
	max-width: 50%;
}

.section-hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85%;
}

.hero-title {
	width: 502.417px;
	font-size: 48px;
	line-height: 1.2;
	margin-top: 159px;
	margin: 0 0 28px;
}

.hero-desc {
	width: 511px;
	height: 69px;
	flex-shrink: 0;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 40px;
}

.btn-hero {
	font-weight: 500;
	font-size: 13px;
	line-height: 1.5;
	padding: 6px 18px;
	margin-top: 46px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 30px;
	background: #bbf330;
	color: #2c2c2c;
}

.btn-hero:hover,
.btn-hero:focus {
	border-radius: 30px;
	border: 2px solid #7eb101;
	background: #fff;
} */

/* === Section Offerings 1440x824px === */
.offerings {
	background-image: url(../images/offerings/offerings-1440-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 290px 0 43px;
}

.offerings__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offerings__img {
	display: block;
}

.offerings__content {
	max-width: 573px;
}

.offerings__subtitle {
	max-width: 500px;
	margin-bottom: 40px;
}

.offerings__list {
	display: flex;
	column-gap: 67px;
	margin-bottom: 32px;
}

.offerings__item {
	max-width: 253px;
}

.offerings__icon-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--white);
}

.offerings__item-title {
	font-size: 18px;
	line-height: 1.3889;
	margin-bottom: 16px;
}

.offerings__item-text {
	font-size: 14px;
}

.offerings__btn {
	font-weight: 500;
	font-size: 13px;
	line-height: 0;
	padding-block: 10px;
	padding-inline: 20px;
	width: 106px;
	height: 40px;
	border-radius: 30px;
	border: 2px solid #7eb101;
}

.offerings__btn:hover {
	border: none;
	transition: all 0.2s ease-in-out;
	background: var(--button-green);
}

/* .section-offerings {
	width: 1280px;
	height: 824px;
	flex-shrink: 0;
}

.offerings-subtitle {
	width: 526.167px;
	font-size: 42px;
	line-height: 1.2;
}

.offerings-desc {
	width: 500px;
	font-size: 16px;
	line-height: 1.5;
}

.offerings-list-heading {
	font-size: 18px;
	line-height: 1.4;
}

.offerings-list-item {
	width: 253px;
	font-size: 14px;
	line-height: 1.5;
}

.btn-offerings {
	font-weight: 500;
	font-size: 13px;
	line-height: 1.5;
	padding: 6px 18px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 30px;
	background: #bbf330;
	color: #2c2c2c;
} */

/* === Section Favorites === */
.section-favorites {
	width: 1280px;
	height: 953px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.favorites-subtitle {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 42px;
	line-height: normal;
}

.favorites-desc {
	/* width: 656px;
  height: 18px; */
	margin-bottom: 40px;
	text-align: center;
	font-size: 16px;
	line-height: normal;
}

.favorites-list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.favorites-list-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
}

.favorites-list-item {
	width: calc((100% - 64px) / 3);
	border-radius: 197.5px;
	border: 16px solid #ffe550;
	background: #fefefe;
}

/* === Section Customers-say === */
.customers-subtitle {
	width: 501px;
	height: 49px;
	/* flex-shrink: 0; */
	font-size: 42px;
	line-height: normal;
}

.customers-desc {
	font-size: 16px;
	line-height: normal;
}

.customers-list-item {
	width: 473px;
	height: 63px;
	/* flex-shrink: 0; */
	font-size: 18px;
	line-height: normal;
}

/* === Section Subscribe === */
.subscribe-subtitle {
	width: 656px;
	font-size: 42px;
	line-height: 1.2;
}

.subscribe-desc {
	width: 532px;
	font-size: 16px;
	line-height: 1.5;
}

/* === Footer === */
.container-holder {
	/* width: 1280px; */
	height: 395px;
	/* flex-shrink: 0; */
	box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
	background: #fefefe;
}

.footer-nav-list {
	display: flex;
	gap: 28px;
}
