/* === Variables === */
:root {
	--button-green: #bbf330;
	--dark-green: #7eb101;
	--default: #2c2c2c;
	--yellow-main: #ffe550;
	--placeholder: #505050;
	--white: #fefefe;
}

/* === Rules tags === */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	background-color: var(--white);
	color: var(--default);
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

button {
	border: none;
	color: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

html {
	scroll-behavior: smooth;
}

/* === Rules classes === */
.section {
	margin: 50px 0;
}

.section-title {
	font-size: 42px;
	line-height: 1.1667; /* 49/42 */
	margin-bottom: 20px;
}

.container {
	/* width: 320px; */
	margin-inline: auto;
	padding-inline: 20px; /* Замінює padding-left та padding-right */
}

/* === Header 320X72px === */
.header {
	padding-block: 10px;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.burger__btn {
	background-color: transparent;
}

/* === Section Hero 280x259px === */

/* === Section Offerings 320x1122px === */
.offerings {
	background-image: url(../images/offerings/offerings-bg-mobile.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
	padding: 150px 0 88px;
}

/* === Section Favorites 280x1064px === */

/* === Section Customers 320X769px === */

/* === Section Subscribe 280X375px === */

/* === Footer 320X619px === */
.footer {
	background-image: url(../images/footer/footer-bg-mobile.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 619px;
	padding-block: 60px;
	box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

@media screen and (max-width: 767.9px) {
	.menu {
		display: none;
	}

	.header__btn {
		display: none;
	}

	.carousel {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 100%;
		padding-inline: 32px;
	}

	/* === Header 768X72px === */
	.header {
		padding: 10px 0;
		box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
		background: var(--white);
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: inline-block;
		line-height: 0;
	}

	.menu {
		margin-left: auto;
	}

	.menu__list {
		display: flex;
		gap: 28px;
		margin-right: 30px;
	}

	.menu__list-link {
		font-weight: 400;
		font-size: 14px;
		color: inherit;
	}

	.menu__list-link:hover {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		transition: all 0.1s linear;
		color: var(--button-green);
	}

	.header__btn {
		width: 98px;
		height: 32px;
		font-weight: 500;
		font-size: 13px;
		padding: 6px 18px;
		border-radius: 30px;
		background: var(--button-green);
		color: var(--default);
	}

	.header__btn:hover {
		transition: all 0.2s ease-in-out;
		background: var(--yellow-main);
	}

	.burger__btn {
		display: none;
	}

	/* === Section Hero 704x409px === */
	.hero {
		padding-top: 60px;
	}

	.hero__title {
		max-width: 537px;
		font-size: 42px;
		line-height: 1.1905;
		margin-bottom: 44px;
	}

	.hero__text {
		width: 336px;
		margin-bottom: 40px;
	}

	.hero__btn {
		width: 98px;
		height: 32px;
		font-weight: 500;
		font-size: 13px;
		line-height: 0;
		padding: 6px 18px;
		border-radius: 30px;
		background: var(--button-green);
		color: var(--default);
	}

	.hero__btn:hover {
		transition: all 0.2s ease-in-out;
		background: var(--yellow-main);
	}

	/* === Section Offerings 768x1140px === */
	.offerings {
		background-image: url(../images/offerings/offerings-bg-tablet.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 50px;
		padding: 150px 0 88px;
	}

	.offerings__inner {
		display: inline;
		justify-content: space-between;
		align-items: center;
	}

	.offerings__image-wrapper {
		margin-bottom: 60px;
	}

	.offerings__content {
		max-width: 620px;
	}

	.offerings__subtitle {
		margin-bottom: 25px;
	}

	.offerings__list {
		margin-bottom: 20px;
	}

	.offerings__item {
		max-width: 288px;
	}

	.offerings__item-title {
		line-height: 1.1667; /* 21/18 */
	}

	.offerings__item-text {
		width: 288px;
	}

	.text-order {
		width: 252px;
		line-height: 1.4286; /* 20/14 */
	}

	.offerings__btn {
		margin-right: 24px;
	}

	.read-more {
		display: inline-block;
		font-size: 13px;
		color: #000000;
	}

	.read-more__icon {
		margin-left: 3.5px;
	}

	/* === Section Favorites 704x1225px === */

	/* === Section Customers 768X544px === */

	/* === Section Subscribe 704X340px === */

	/* === Footer 768X506px === */
}

@media screen and (min-width: 1440px) {
	.container {
		width: 1440px;
		padding-inline: 16px;
	}

	/* === Section Hero 1408x580px === */
	.hero {
		padding-top: 14px;
	}

	.hero__inner {
		display: flex;
		align-items: center;
		gap: 317px;
	}

	.hero__content {
		max-width: 511px;
	}

	.hero__title {
		font-size: 48px;
		line-height: 1.2085;
		margin-bottom: 28px;
	}

	.hero__text {
		width: 511px;
		line-height: 1.4375;
	}

	.hero__wrapper-img {
		border-radius: 50%;
		border: 26px solid var(--yellow-main);
		background: var(--white);
	}

	.carousel {
		display: grid;
		grid-auto-flow: column;
		overflow-x: hidden;
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		anchor-name: --carousel;

		&::scroll-button(*) {
			position: fixed;
			right: -37px;
			left: -37px;
			position-anchor: --carousel;
		}

		&::scroll-button(right) {
			position-area: inline-end center;
			content: '';
			background-image: url(/images/hero/arrow-right.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 17px 29px;
			width: 48px;
			height: 40px;
			border-radius: 8px;
			border: none;
			background-color: var(--white);
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
		}

		&::scroll-button(left) {
			position-area: inline-start center;
			content: '';
			background-image: url(/images/hero/arrow-left.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 17px 29px;
			width: 48px;
			height: 40px;
			border-radius: 8px;
			border: none;
			background-color: var(--white);
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
		}
	}

	.carousel__img {
		justify-content: center;
		align-items: center;
		scroll-snap-align: center;
		border-radius: 50%;
		border: 26px solid var(--yellow-main);
		background: var(--white);
	}

	/* === Section Offerings 1440x824px === */
	.offerings {
		background-image: url(../images/offerings/offerings-bg-desktop.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 50px;
		padding: 220px 0 43px;
	}

	.offerings__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.offerings__img {
		display: block;
	}

	.offerings__content {
		max-width: 573px;
	}

	.offerings__subtitle {
		max-width: 500px;
		margin-bottom: 40px;
	}

	.offerings__list {
		display: flex;
		column-gap: 67px;
		margin-bottom: 32px;
	}

	.offerings__item {
		max-width: 253px;
	}

	.offerings__icon-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 8px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: var(--white);
	}

	.offerings__item-title {
		font-size: 18px;
		line-height: 1.3889;
		margin-bottom: 16px;
	}

	.offerings__item-text {
		font-size: 14px;
	}

	.offerings__btn {
		font-weight: 500;
		font-size: 13px;
		line-height: 0;
		padding-block: 10px;
		padding-inline: 20px;
		width: 106px;
		height: 40px;
		border-radius: 30px;
		border: 2px solid #7eb101;
	}

	.offerings__btn:hover {
		border: none;
		transition: all 0.2s ease-in-out;
		background: var(--button-green);
	}

	.read-more {
		display: none;
	}

	/* === Section Favorites 1440x953px === */
	.favorites {
		/* height: 953px; */
		padding: 50px 0;
	}

	.favorites__title {
		text-align: center;
	}

	.favorites__text {
		text-align: center;
		line-height: 1.125;
		margin-bottom: 40px;
	}

	.favorites__list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
	}

	.favorites__list-item {
		margin: 0 auto;
		border-radius: 50%;
		transition: all 0.2s ease-in-out;
		border: 16px solid var(--yellow-main);
		background: var(--white);
	}

	.favorites__list-item:hover {
		border-color: var(--button-green);
	}

	.favorites__list-link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 25px 24px;
	}

	/* === Section Customers 1440X707px === */
	.customers {
		background-image: url(../images/customers/customers-bg-desktop.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 707px;
		padding: 100px 0 200px;
	}

	.customers__text {
		margin-bottom: 32px;
	}

	.customers__content {
		display: flex;
		height: 227px;
		gap: 239px;
	}

	.customers__options,
	.customers__experience {
		max-width: 501px;
		padding: 14px;
		border-top-left-radius: 0;
		border-top-right-radius: 29px;
		border-bottom-left-radius: 29px;
		border-bottom-right-radius: 29px;
		background-color: var(--white);
	}

	.customers__img {
		display: block;
		margin-bottom: 28px;
	}

	.customers__subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 1.1667; /* 21/18 */
		margin-bottom: 40px;
	}

	.customers__author {
		display: flex;
	}

	.customers__author-img {
		margin-right: 16px;
	}

	.customers__inner {
		position: relative;
	}

	.customers__inner::after {
		content: '';
		position: absolute;
		top: 0;
		left: 93px;
		width: 1px;
		height: 52px;
		border-radius: 1px;
		background-color: var(--dark-green);
	}

	.customers__inner-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 2px;
	}

	.customers__inner-subtitle {
		font-size: 14px;
	}

	/* === Section Subscribe 1440X266px === */
	.subscribe {
		padding-bottom: 64px;
	}

	.subscribe__container {
		display: flex;
		justify-content: space-between;
	}

	.subscribe__text {
		margin-bottom: 24px;
	}

	.subscribe__form {
		display: flex;
	}

	.subscribe__form-input {
		width: 394px;
		height: 42px;
		font-size: 12px;
		margin-right: 32px;
		padding: 12px 57px 12px 11px;
		border: 0.85px solid var(--yellow-main);
		border-radius: 30px;
		color: var(--placeholder);
		background: var(--white);
	}

	.subscribe__form-btn {
		width: 103px;
		height: 42px;
		font-weight: 500;
		font-size: 13px;
		line-height: 0;
		padding: 11px 22px;
		border-radius: 30px;
		background: var(--button-green);
		color: var(--default);
	}

	.subscribe__form-btn:hover {
		transition: all 0.2s ease-in-out;
		background: var(--yellow-main);
	}

	/* === Footer 1280X395px === */
	.footer {
		background-image: url(../images/footer/footer-bg-desktop.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 395px;
		padding: 100px 0;
		box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
	}

	.footer__content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	.footer__nav {
		display: flex;
		align-items: center;
	}

	.footer__logo {
		margin-right: 148px;
	}

	.footer__subscribe-title {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 12px;
	}

	.subscribe__form {
		margin-bottom: 12px;
	}

	.subscribe__form-btn {
		width: 103px;
		height: 42px;
		font-weight: 500;
		font-size: 13px;
		padding: 11px 22px;
		border-radius: 30px;
		border: 0.85px solid var(--button-green);
		background: #ffffff;
	}

	.subscribe__form-btn:hover {
		border: none;
		transition: all 0.2s ease-in-out;
		background: var(--button-green);
	}

	.footer__subscribe-text {
		font-size: 12px;
	}

	.privacy-police {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--dark-green);
	}

	.footer__copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.copyright__list {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.copyright__link {
		font-size: 12px;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--dark-green);
	}

	.copyright__text {
		font-size: 12px;
	}

	/* === Modal window === */
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		background-color: rgba(94, 99, 99, 0.7);
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 458px;
		height: 449px;
		border-radius: 30px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
		background: #ffe550;
	}
}
